<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixcandoit.plrecipe.place.PlaceMapper">
    <resultMap id="placeResultMap" type="com.sixcandoit.plrecipe.place.PlaceDTO">
        <id property="placeId" column="PLACE_ID"/>
        <result property="placeName" column="PLACE_NAME"/>
        <result property="placeLocation" column="PLACE_LOCATION"/>
        <result property="placePhoneNum" column="PLACE_PHONE_NUM"/>
        <result property="placeCategoryId" column="PLACE_CATEGORY_ID"/>
    </resultMap>

    <resultMap id="starResultMap" type="com.sixcandoit.plrecipe.place.PlaceStarDTO">
        <id property="starId" column="STAR_ID"/>
        <result property="starPoint" column="STAR_POINT"/>
        <result property="starComment" column="STAR_COMMENT"/>
        <result property="placeId" column="PLACE_ID"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
    </resultMap>

    <select id="getPlacesByCourseName" resultMap="placeResultMap">
        SELECT
        p.*
        FROM place p
        JOIN course_place cp ON p.place_id = cp.place_id
        JOIN course c ON cp.course_id = c.course_id
        WHERE c.course_Id = #{courseId}
    </select>
</mapper>