<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sixcandoit.plrecipe_member.query.repository.FollowMapper">

    <resultMap id="memberFollowMap" type="com.sixcandoit.plrecipe_member.command.dto.FollowDTO">
        <id property="followId" column="FOLLOW_ID"/>
        <result property="userFollow" column="USER_FOLLOW"/>
        <result property="userFollower" column="USER_FOLLOWER"/>
    </resultMap>

    <resultMap id="memberFollowerMap" type="com.sixcandoit.plrecipe_member.command.dto.FollowDTO">
        <id property="followId" column="FOLLOW_ID"/>
        <result property="userFollower" column="USER_FOLLOWER"/>
        <result property="userFollow" column="USER_FOLLOW"/>
    </resultMap>

    <select id="selectAllFollow" resultMap="memberFollowMap">
        SELECT
              A.FOLLOW_ID
            , A.USER_FOLLOW
            , A.USER_FOLLOWER
        FROM FOLLOW_INFO A
    </select>

    <select id="selectFollowById" parameterType="_int" resultMap="memberFollowMap">
        SELECT
              A.FOLLOW_ID
            , A.USER_FOLLOW
            , A.USER_FOLLOWER
        FROM FOLLOW_INFO A
        WHERE A.FOLLOW_ID = #{followId};
    </select>

    <select id="selectMemberWhoFollowsMe" parameterType="_int" resultMap="memberFollowMap">
        SELECT
              A.FOLLOW_ID
            , A.USER_FOLLOW
            , A.USER_FOLLOWER
        FROM follow_info A
        WHERE A.USER_FOLLOW = #{userFollow};
    </select>

    <select id="selectMemberWhoIFollow" parameterType="_int" resultMap="memberFollowerMap">
        SELECT
              A.FOLLOW_ID
            , A.USER_FOLLOW
            , A.USER_FOLLOWER
        FROM follow_info A
        WHERE A.USER_FOLLOWER = #{userFollower};
    </select>

</mapper>