<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixcandoit.plrecipe_post.query.repository.PostMapper">

    <resultMap id="postResultMap" type="com.sixcandoit.plrecipe_post.query.dto.PostDTO">
        <id property="postId" column="POST_ID"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postContent" column="POST_CONTENT"/>
        <result property="postDate" column="POST_DATE"/>
        <result property="postDeleteDate" column="POST_DELETE_DATE"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="courseId" column="COURSE_ID"/>
        <result property="isPostPublic" column="IS_POST_PUBLIC"/>
        <result property="memberCount" column="MEMBER_COUNT"/>
    </resultMap>

    <resultMap id="HashtagResultMap" type="com.sixcandoit.plrecipe_post.query.dto.HashtagDTO">
        <id property="hashtagId" column="HASHTAG_ID"/>
        <result property="hashtagTitle" column="HASHTAG_TITLE"/>
    </resultMap>

    <resultMap id="postHashtagResultMap" type="com.sixcandoit.plrecipe_post.query.dto.PostHashtagDTO">
        <id property="postHashtagId" column="POST_HASHTAG_ID"/>
        <association property="postDTO" resultMap="postResultMap"/>
        <association property="hashtagDTO" resultMap="HashtagResultMap"/>
    </resultMap>

    <resultMap id="postLikeResultMap" type="com.sixcandoit.plrecipe_post.query.dto.PostLikeDTO">
        <id property="postLikeId" column="POST_LIKE_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="postId" column="POST_ID"/>
    </resultMap>

    <select id="selectAllPost" resultMap="postResultMap">
        SELECT
              A.POST_ID
            , A.POST_TITLE
            , A.POST_CONTENT
            , A.POST_DATE
            , A.POST_DELETE_DATE
            , A.MEMBER_ID
            , A.COURSE_ID
            , A.IS_POST_PUBLIC
            , A.MEMBER_COUNT
          FROM POST A
    </select>

    <!-- 회원 별 게시글 조회 -->
    <select id="selectMemberPosts" resultMap="postResultMap">
        SELECT
              A.POST_ID
            , A.POST_TITLE
            , A.POST_CONTENT
            , A.POST_DATE
            , A.POST_DELETE_DATE
            , A.MEMBER_ID
            , A.COURSE_ID
            , A.IS_POST_PUBLIC
            , A.MEMBER_COUNT
          FROM POST A
         WHERE A.MEMBER_ID = #{memberId}
    </select>

    <select id="selectPost" resultMap="postResultMap">
        SELECT
              A.POST_ID
            , A.POST_TITLE
            , A.POST_CONTENT
            , A.POST_DATE
            , A.POST_DELETE_DATE
            , A.MEMBER_ID
            , A.COURSE_ID
            , A.IS_POST_PUBLIC
            , A.MEMBER_COUNT
          FROM POST A
         WHERE A.POST_ID = #{postId}
    </select>

    <select id="selectPostsByStatus" resultMap="postResultMap">
        SELECT
              A.POST_ID
            , A.POST_TITLE
            , A.POST_CONTENT
            , A.POST_DATE
            , A.POST_DELETE_DATE
            , A.MEMBER_ID
            , A.COURSE_ID
            , A.IS_POST_PUBLIC
            , A.MEMBER_COUNT
          FROM POST A
         WHERE A.IS_POST_PUBLIC = #{postStatus}
    </select>

    <select id="selectPostsByMemberCounts" resultMap="postResultMap">
        SELECT
              A.POST_ID
            , A.POST_TITLE
            , A.POST_CONTENT
            , A.POST_DATE
            , A.POST_DELETE_DATE
            , A.MEMBER_ID
            , A.COURSE_ID
            , A.IS_POST_PUBLIC
            , A.MEMBER_COUNT
          FROM POST A
         WHERE A.MEMBER_COUNT = #{memberCount}
    </select>

    <select id="selectPostHashtags" resultMap="postHashtagResultMap">
        SELECT
              B.POST_HASHTAG_ID
            , A.POST_ID
            , C.HASHTAG_TITLE
          FROM POST A
          JOIN POST_HASHTAG B ON B.POST_ID = A.POST_ID
          JOIN HASHTAG C ON C.HASHTAG_ID = B.HASHTAG_ID
         WHERE A.POST_ID = #{postId}
    </select>

    <select id="selectPostByLikes" resultMap="postLikeResultMap">
        SELECT
              A.POST_LIKE_ID
            , A.MEMBER_ID
            , A.POST_ID
          FROM POST_LIKE A
         WHERE A.POST_ID = #{postId}
    </select>

    <select id="selectMemberLikesPosts" resultMap="postResultMap">
        SELECT
              A.POST_ID
            , A.POST_TITLE
            , A.POST_CONTENT
            , A.POST_DATE
            , A.POST_DELETE_DATE
            , A.MEMBER_ID
            , A.COURSE_ID
            , A.IS_POST_PUBLIC
            , A.MEMBER_COUNT
          FROM POST A
          JOIN POST_LIKE B ON A.MEMBER_ID = B.MEMBER_ID
         WHERE B.MEMBER_ID = #{memberId}
    </select>
</mapper>