<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

<h1>OHGIRAFFERS RESTAURANT에 오신 것을 환영합니다.</h1>

<button onclick="location.href='/post/7'">7번 메뉴 목록 보기</button>
<button onclick="location.href='/post/list'">메뉴 전체 목록 보기</button>
<!--	<button onclick="location.href='/post/list?post=3&sort=postId,desc'">메뉴 전체 목록 보기</button>-->

<button onclick="location.href='/post/querymethod'">쿼리 메소드 테스트 하기</button>

<!--<button onclick="location.href='/post/regist'">메뉴 입력하기</button>-->          <!-- 이거 못할거같아요ㅠㅠ -->
<button onclick="location.href='/post/modify'">메뉴 수정하기</button>
<button onclick="location.href='/post/delete'">메뉴 삭제하기</button>

</body>
</html>