<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sixcandoit.plrecipe.feature.place.respository.PlaceMapper">

    <resultMap id="placeResultMap" type="com.sixcandoit.plrecipe.feature.place.dto.PlaceDTO">
        <id property="placeId" column="PLACE_ID"/>
        <result property="placeName" column="PLACE_NAME"/>
        <result property="placeLocation" column="PLACE_LOCATION"/>
        <result property="placePhoneNum" column="PLACE_PHONE_NUM"/>
        <result property="placeCategoryId" column="PLACE_CATEGORY_ID"/>
    </resultMap>

    <resultMap id="starResultMap" type="com.sixcandoit.plrecipe.feature.place.dto.PlaceStarDTO">
        <id property="starId" column="STAR_ID"/>
        <result property="starPoint" column="STAR_POINT"/>
        <result property="starComment" column="STAR_COMMENT"/>
        <result property="placeId" column="PLACE_ID"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
    </resultMap>

    <resultMap id="courseResultMap" type="com.sixcandoit.plrecipe.feature.place.dto.CourseDTO">
        <id property="courseId" column="COURSE_ID"/>
        <result property="courseName" column="COURSE_NAME"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
    </resultMap>

    <select id="selectAllPlace" resultMap="placeResultMap">
        SELECT
               A.PLACE_NAME,
               A.PLACE_NAME,
               A.PLACE_LOCATION,
               A.PLACE_PHONE_NUM,
               A.PLACE_CATEGORY_ID
        FROM PLACE A
    </select>

    <select id="selectPlaceByFilter" parameterType="hashmap" resultMap="placeResultMap">
        SELECT
               A.PLACE_ID,
               A.PLACE_NAME,
               A.PLACE_LOCATION,
               A.PLACE_PHONE_NUM,
               A.PLACE_CATEGORY_ID
          FROM PLACE A
          JOIN PLACE_CATEGORY B ON (A.PLACE_CATEGORY_ID = B.PLACE_CATEGORY_ID)
          LEFT JOIN PLACE_STAR C ON (A.PLACE_ID = C.PLACE_ID)
        <where>
            <if test="name != null">
                A.PLACE_NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="region != null">
                AND A.PLACE_LOCATION LIKE CONCAT('%', #{region}, '%')
            </if>
            <if test="category != null">
                AND B.PLACE_CATEGORY_NAME = #{category}
            </if>
            <if test="star != null">
                AND C.STAR_POINT >= #{star}
            </if>
        </where>

    </select>

    <select id="selectStarByPlace" parameterType="_int" resultMap="starResultMap">
        SELECT
               A.STAR_ID,
               A.STAR_POINT,
               A.STAR_COMMENT,
               A.PLACE_ID,
               A.MEMBER_EMAIL
          FROM PLACE_STAR A
         WHERE PLACE_ID = #{placeId}
         ORDER BY A.STAR_POINT DESC
    </select>

    <select id="selectStarByMember" parameterType="String" resultMap="starResultMap">
        SELECT
        A.STAR_ID,
        A.STAR_POINT,
        A.STAR_COMMENT,
        A.PLACE_ID,
        A.MEMBER_EMAIL
        FROM PLACE_STAR A
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <select id="selectCourseByMember" parameterType="String" resultMap="courseResultMap">
        SELECT
                A.COURSE_ID,
                A.COURSE_NAME,
                A.MEMBER_EMAIL
            FROM COURSE A
           WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

</mapper>