<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sixcandoit.plrecipe_member.feature.member.repository.MemberMapper">

    <resultMap id="memberResultMap" type="com.sixcandoit.plrecipe_member.feature.member.dto.MemberDTO">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberNickname" column="MEMBER_NICKNAME"/>
        <result property="memberNumber" column="MEMBER_NUMBER"/>
        <result property="joinDate" column="JOIN_DATE"/>
        <result property="withdrawalDate" column="WITHDRAWAL_DATE"/>
        <result property="memberGrade" column="MEMBER_GRADE"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
    </resultMap>

    <select id="selectAllMember" resultMap="memberResultMap">
        SELECT
              A.MEMBER_ID
            , A.MEMBER_EMAIL
            , A.PASSWORD
            , A.MEMBER_NAME
            , A.MEMBER_NICKNAME
            , A.MEMBER_NUMBER
            , A.JOIN_DATE
            , A.WITHDRAWAL_DATE
            , A.MEMBER_GRADE
            , A.MEMBER_STATUS
          FROM MEMBER_INFO A
          WHERE A.MEMBER_STATUS = 'Y'
    </select>

    <select id="selectMemberByLikePost" parameterType="_int" resultMap="memberResultMap">
        SELECT
          B.member_id
        , A.post_id
        , B.post_title
        , B.post_content
        , B.post_date
        FROM POST_LIKE A
        JOIN POST B ON (A.POST_ID = B.POST_ID)
        WHERE B.MEMBER_ID = #{memberId};
    </select>

    <select id="selectMemberPosts" parameterType="_int" resultMap="memberResultMap">
        SELECT *
        FROM MEMBER_INFO
        WHERE MEMBER_ID = #{memberId};
    </select>

</mapper>