<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sixcandoit.plrecipe.feature.group.GroupMapper">

    <resultMap id="groupResultMap" type="com.sixcandoit.plrecipe.feature.group.GroupDTO">
        <id property="groupId" column="GROUP_ID"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="isGroupPublic" column="IS_GROUP_PUBLIC"/>
        <result property="groupCreateDate" column="GROUP_CREATE_DATE"/>
        <result property="groupWithdrawalDate" column="GROUP_WITHDRAWAL_DATE"/>
        <result property="groupComment" column="GROUP_COMMENT"/>
        <result property="groupStatus" column="GROUP_STATUS"/>
    </resultMap>

    <select id="selectAllGroup" resultMap="groupResultMap">
        select * from plecipe_group
    </select>

    <resultMap id="memberResultMap" type="com.sixcandoit.plrecipe.feature.member.MemberDTO">
        <id property="memberEmail" column="MEMBER_EMAIL"/>
        <result property="memberName" column="MEMBER_NAME"/>
        </resultMap>

    <select id="selectMembersByGroupId" resultMap="memberResultMap" parameterType="int">
        SELECT
              m.MEMBER_EMAIL,
              m.MEMBER_NAME
        FROM group_member pm
        JOIN member_info m ON pm.MEMBER_EMAIL = m.member_email
        WHERE pm.group_id = #{groupId}

    <select id="selectPublicOrPrivateGroup" resultMap="groupResultMap">
        SELECT
        A.is_group_public,
        A.group_id,
        A.group_name,
        A.group_create_date,
        A.group_withdrawal_date,
        A.group_comment,
        A.group_status,
        B.member_email
        FROM plecipe_group A
        JOIN group_member B ON(A.group_id = B.group_id)
        WHERE MEMBER_EMAIL = #{memberEmail};

    </select>
</mapper>