
.header {
  background-color: transparent; /* 배경을 투명으로 설정합니다. */
  color: #fff;
  padding: 20px;
  text-align: left;
  border-bottom: 2px solid black; /* 검은색 직선을 추가합니다. */
}

/* 제목 스타일 */
.title {
  margin: 0;
}

/* 네비게이션 스타일 */
.nav {
  float: right;
}

/* 네비게이션 리스트 스타일 */
.nav-list li {
  display: inline;
  margin-left: 20px;
  border-bottom: 2px solid transparent; /* 초기에는 투명한 선으로 설정합니다. */
}

/* 네비게이션 리스트 아이템 스타일 */
.nav-list li {
  display: inline;
  margin-left: 20px;
}

/* 네비게이션 링크 스타일 */
.nav-list li a {
  color: #000000;
  text-decoration: none;
}

/* 네비게이션 링크 호버 스타일 */
.nav-list li a:hover {
  border-bottom-color: black;
}

/* 로고 이미지 스타일 */
.logo {
  height: 50px; /* 로고 이미지의 높이를 조정합니다. */
  width: 200px;
}

.post {
  width: 183px;
  height: 300px;  
  border: 3px solid black;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 70%;
}

.image {
  background-color: green;
  border: 3px solid black;
  width: 180px;
  height: 60%;
}

.member {
  font-weight: bold;
  text-align: center;
  font-size: 70%;
  border: 3px solid black;
}

.hashtag {
  font-weight: bold;
  text-align: center;
  font-size: 70%;
}

.body{
  margin-bottom: 10pz;
}
.footer {
  clear: both;
}