.category div{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #ffffff;
    border: #646464 solid 1px;
    border-radius: 10px 10px 0px 0px;
    float: left;
}

#food{
    background-color: lightpink;
}

#cafe{
    background-color: lightyellow;
}

#culture{
    background-color: lightgreen;
}

#activity{
    background-color: lightblue;
}

#walk{
    background-color: rgba(212, 170, 255, 0.952);
} 
#etc{
    background-color: lightgray;
}

#stars, #places{
    clear: both;
}
