<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sixcandoit.plrecipe_place.query.repository.PlaceMapper">

    <resultMap id="categoryResultMap" type="com.sixcandoit.plrecipe_place.query.aggregate.PlaceCategory">
        <id property="placeCategoryId" column="PLACE_CATEGORY_ID"/>
        <result property="placeCategoryName" column="PLACE_CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="placeResultMap" type="com.sixcandoit.plrecipe_place.query.aggregate.Place">
        <id property="placeId" column="PLACE_ID"/>
        <result property="placeName" column="PLACE_NAME"/>
        <result property="placeLocation" column="PLACE_LOCATION"/>
        <result property="placePhoneNum" column="PLACE_PHONE_NUM"/>
        <association property="placeCategory" resultMap="categoryResultMap"/>
    </resultMap>

    <resultMap id="starResultMap" type="com.sixcandoit.plrecipe_place.query.aggregate.PlaceStar">
        <id property="starId" column="STAR_ID"/>
        <result property="starPoint" column="STAR_POINT"/>
        <result property="starComment" column="STAR_COMMENT"/>
        <result property="placeId" column="PLACE_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
    </resultMap>

    <resultMap id="courseResultMap" type="com.sixcandoit.plrecipe_place.query.aggregate.Course">
        <id property="courseId" column="COURSE_ID"/>
        <result property="courseName" column="COURSE_NAME"/>
        <result property="memberId" column="MEMBER_ID"/>
    </resultMap>

    <resultMap id="coursePlaceResultMap" type="com.sixcandoit.plrecipe_place.query.aggregate.CourseAndPlace">
        <id property="courseId" column="COURSE_ID"/>
        <result property="courseName" column="COURSE_NAME"/>
        <result property="memberId" column="MEMBER_ID"/>
        <collection property="places" resultMap="placeResultMap"/>
    </resultMap>

    <select id="selectAllPlace" resultMap="placeResultMap">
        SELECT
               A.PLACE_ID,
               A.PLACE_NAME,
               A.PLACE_LOCATION,
               A.PLACE_PHONE_NUM,
               B.PLACE_CATEGORY_ID,
               B.PLACE_CATEGORY_NAME
          FROM PLACE A
          JOIN PLACE_CATEGORY B ON (A.PLACE_CATEGORY_ID = B.PLACE_CATEGORY_ID)
    </select>

    <select id="selectPlaceById" parameterType="_int" resultMap="placeResultMap">
        SELECT
               A.PLACE_ID,
               A.PLACE_NAME,
               A.PLACE_LOCATION,
               A.PLACE_PHONE_NUM,
               B.PLACE_CATEGORY_ID,
               B.PLACE_CATEGORY_NAME
          FROM PLACE A
          JOIN PLACE_CATEGORY B ON (A.PLACE_CATEGORY_ID = B.PLACE_CATEGORY_ID)
         WHERE PLACE_ID = #{placeId}
    </select>

    <select id="selectPlaceByFilter" parameterType="hashmap" resultMap="placeResultMap">
        SELECT
               A.PLACE_ID,
               A.PLACE_NAME,
               A.PLACE_LOCATION,
               A.PLACE_PHONE_NUM,
               B.PLACE_CATEGORY_ID,
               B.PLACE_CATEGORY_NAME
          FROM PLACE A
          JOIN PLACE_CATEGORY B ON (A.PLACE_CATEGORY_ID = B.PLACE_CATEGORY_ID)
          LEFT JOIN PLACE_STAR C ON (A.PLACE_ID = C.PLACE_ID)
        <where>
            <if test="name != null">
                A.PLACE_NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="region != null">
                AND A.PLACE_LOCATION LIKE CONCAT('%', #{region}, '%')
            </if>
            <if test="category != null">
                AND B.PLACE_CATEGORY_NAME = #{category}
            </if>
            <if test="star != null">
                AND C.STAR_POINT >= #{star}
            </if>
        </where>

    </select>

    <select id="selectStarByPlace" parameterType="_int" resultMap="starResultMap">
        SELECT
               A.STAR_ID,
               A.STAR_POINT,
               A.STAR_COMMENT,
               A.PLACE_ID,
               A.MEMBER_ID
          FROM PLACE_STAR A
         WHERE PLACE_ID = #{placeId}
         ORDER BY A.STAR_POINT DESC
    </select>

    <select id="selectStarByMember" parameterType="_int" resultMap="starResultMap">
        SELECT
               A.STAR_ID,
               A.STAR_POINT,
               A.STAR_COMMENT,
               A.PLACE_ID,
               A.MEMBER_ID
          FROM PLACE_STAR A
         WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectCoursePlaceByCourseId" parameterType="_int" resultMap="coursePlaceResultMap">
        SELECT
               A.COURSE_ID,
               A.COURSE_NAME,
               A.MEMBER_ID,
               C.PLACE_ID,
               C.PLACE_NAME,
               C.PLACE_LOCATION,
               C.PLACE_PHONE_NUM,
               D.PLACE_CATEGORY_ID,
               D.PLACE_CATEGORY_NAME
          FROM COURSE A
          JOIN COURSE_PLACE B on A.course_ID = B.course_ID
          JOIN PLACE C ON C.PLACE_ID = B.PLACE_ID
          JOIN PLACE_CATEGORY D ON C.PLACE_CATEGORY_ID = D.PLACE_CATEGORY_ID
         WHERE B.course_id = #{courseId}
         ORDER BY B.PLACE_SEQUENCE
    </select>

    <select id="getPlacesByCourseName" resultMap="placeResultMap">
        SELECT
               A.PLACE_ID,
               A.PLACE_NAME,
               A.PLACE_LOCATION,
               A.PLACE_PHONE_NUM,
               D.PLACE_CATEGORY_ID,
               D.PLACE_CATEGORY_NAME
          FROM place A
          JOIN course_place B ON A.place_id = B.place_id
          JOIN course C ON B.course_id = C.course_id
          JOIN PLACE_CATEGORY D ON (A.PLACE_CATEGORY_ID = D.PLACE_CATEGORY_ID)
         WHERE C.course_Id = #{courseId}
    </select>

    <select id="selectCourseByMember" parameterType="_int" resultMap="courseResultMap">
        SELECT
               A.COURSE_ID,
               A.COURSE_NAME,
               A.MEMBER_ID
          FROM COURSE A
         WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectAvgStarScore" parameterType="_int" resultType="_float">
        SELECT
               IFNULL(AVG(star_point), 0)
          FROM PLACE_STAR
         WHERE PLACE_ID = #{placeId};
    </select>


</mapper>