<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>main</title>
    </head>
<body>

<button onclick="location.href='/place/searchPlace/스타필드'">장소검색</button>

<!--
<div>
    <form onsubmit="searchPlaces(); return false;">
        키워드 : <input type="text" value="" id="keyword" size="15">
        <button type="submit"> w장소 검색하기</button>
    </form>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=카카오 앱 키 넣기&libraries=services"></script>
<script>
    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 키워드로 장소를 검색합니다
    searchPlaces();

    // 키워드 검색을 요청 함수
    function searchPlaces() {

        var keyword = document.getElementById('keyword').value;

        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }

        // 장소검색 객체를 통해 키워드로 장소검색을 요청
        ps.keywordSearch( keyword, placesSearchCB);
    }

    // 장소검색이 완료됐을 때 호출되는 콜백함수
    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            console.log(data);

        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

            alert('검색 결과가 존재하지 않습니다.');
            return;

        } else if (status === kakao.maps.services.Status.ERROR) {

            alert('검색 결과 중 오류가 발생했습니다.');
            return;

        }
    }

</script>
-->

</body>
</html>